.field {
  box-sizing: border-box;
  width: 485px;
  border: 2px solid #dadada;
  padding: 10px 25px 10px 65px;
  margin: 0;

  display: inline-block;
  vertical-align: middle;

  font-size: 14px;
  height: 55px;
  border-radius: 25px;
  background-color: #ffffff;
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: 25px center;
}

.field:focus {
  outline: none;
  border-color: #9b59b6;
}
