.courses-list-item {
  margin-top: 50px;
  margin-left: 25px;
  margin-right: 25px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.course {
  padding: 20px 45px;
}

.hero {
  background-color: #6d6c69;
  background-image: url(../img/presentation.jpg);
  background-repeat: no-repeat;
  background-position: center center;
}
